# 忽略 Visual Studio 临时文件和文件夹
.vs/
*.ipch
*.db
*.opendb
*.VC.db

# 忽略编译输出
out/
build/
bin/
*.exe
*.dll
*.lib
*.tmp
*.log

# 忽略 CMake 构建文件
CMakeFiles/
CMakeCache.txt
*.cmake
Testing/
cmake_install.cmake

# 忽略模型权重
LCNN/checkpoint/

# 系统生成的文件
.DS_Store
Thumbs.db
