# 忽略 .vs 文件夹和临时文件
.vs/
*.ipch
*.db
*.opendb

# 忽略编译输出文件夹
out/
build/
*.exe
*.dll
*.lib
*.log
*.tmp

# CMake 构建输出
CMakeFiles/
CMakeCache.txt
*.cmake
Testing/
cmake_install.cmake

# 系统生成的文件
.DS_Store
Thumbs.db
